<!DOCTYPE html>
<html ng-app="MailingAddressApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap-theme")

</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/AngularCtrl/Init.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
